<% flash.to_h.each do |type, message| %>
  <div class="alert <%= alert_class(type) %>" data-controller="notification">
    <div>
      <img src="<%= asset_path(icon_url(type)) %>" class="w-5 h-5" />
      <span><%= message.html_safe %></span>
    </div>
  </div>
<% end %>
