<div class="w-full h-content">
  <div class="mx-auto max-w-2xl py-16 px-8 sm:py-24 sm:px-6 lg:max-w-full">

    <div id="video_list" class="grid grid-cols-1 gap-y-4 sm:grid-cols-2 sm:gap-x-6 sm:gap-y-10 lg:grid-cols-3 lg:gap-x-8 xl:grid-cols-4 xl:gap-x-8">
      <%= render VideoComponent.with_collection(@videos) %>
    </div>
  </div>
</div>
