@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .modal.active {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  .dropdown.active .dropdown-content {
    opacity: 1;
    visibility: visible;
  }
}
