<!DOCTYPE html>
<html data-theme="garden">
  <head>
    <%= render 'layouts/head' %>
  </head>

  <body class="antialiased">
    <main class="flex min-h-screen items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
      <div class="w-full max-w-md space-y-8">
        <%= yield %>
      </div>
    </main>
  </body>
</html>
